header div {
    width: 30%;
    max-width: 50%;
}

.plans {
    padding: 0 3%;
    margin: 0 1%;
    border-style: solid;
    border-radius: 15px;
    border-color: gold;
}

div div * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

div img {
    max-width: 70%;
}